.AppContainer{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(135deg, #1fa2ff, #12d6df, #a6ffcb);
    transition: background 0.3s ease;
}

.wind_humidity{
    display: flex;
    flex-direction: row;
    width: 62%;
    justify-self: center;
    gap: 20px;

}