.navContainer{
    display: flex;
    background-color: transparent;
    height:20%;
    align-items: center;
    border: 5px solid red;
}
.logo{
    text-align: center;
    display: flex;
    gap: 10px;
    font-size: 12px; 
  
}
.icon{
    width: 90px;
    height: 90px;
    align-self: center;
}
.logoText{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.slogan{
    font-size: 12px;
    background-color: blue;
}

